# Hugo website build
public/
static/build
resources/

# Node/NPM dependencies
node_modules/

# Editor project settings
.vscode/
.replit

# Custom attributes for folders on Mac OS
.DS_Store

# Environmental variables
.env

# Backup files
*.bak

# Other extra files that I'm hosting on the website for personal use
etc/

# Personal TODO files
TODO
