// Inter fonts
@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-style: normal;
  font-family: "JetBrains Mono";
  font-display: swap;
  src:  url("../webfonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
        local("JetBrains Mono"),
        local("JetBrains-Mono"),
};
