.navbar {
  background-color: $black;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    font-size: $font-size-base;
  }

  .nav-link {
    padding-right: $font-size-base !important;
    padding-left: $font-size-base !important;
  }

  .nav-link code, .navbar-brand code {
    background-color: inherit;
    font-size: 90%;
  }
}

