$primary: #E85537;
$primary-light: #FF773D;
$primary-lighter: #F19143;
$primary-yellow: #FFB238;
$primary-red: #B20600;
$body-bg: #17181C;
$footer-height: 110px;
$headings-margin-bottom: 1.5rem;
$paragraph-margin-bottom: $headings-margin-bottom * 0.85;

$font-family-body: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
$font-size-base: 1.2rem;

@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://rsms.me/inter/inter.css');

$navbar-height: 40px;
$body-color: $gray-300;

@import "main";
@import "navbar";
@import "footer";
@import "items";
@import "table_of_contents";
@import "anchors";
@import "code_copy";
