<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}">
    {{ partial "style.html" "scss/style.scss" }}
    {{ partial "style.html" "css/highlight.css" }}
    {{ partial "style.html" "css/font-awesome.css" }}

    {{ partial "favicon.html" }}

    <title>{{ partial "title-item.html" . }}{{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}

    {{ partial "script.html" "js/jquery.min.js" }}
    {{ partial "script_async.html" "js/bootstrap.min.js" }}
    {{ block "scripts_extra" . }}{{ end }}
  </body>
</html>
