<h1 class="display-4">{{ .Title }}</h1>
{{ if .Params.subtitle }}
<h5 class="my-3">{{ markdownify .Params.subtitle | emojify }}</h5>
{{ end }}

{{ if .IsPage }}
<p>{{ partial "content-details.html" . }}</p>

<!-- When directly viewing the article, if available, we also include revision date-->
{{ if and (not .Lastmod.IsZero) (not (.Lastmod.Equal .Date)) }}
<span class="pr-2" title='{{ .Lastmod.Format "January 2 2006" }}'>
    <i class="pr-1 content-detail">Article revised in: {{ .Lastmod.Format "January 2 2006" }}</i>
</span>
{{ end }}
{{ end }}

{{ if .Content }}
<hr>

<div class="content mt-3">
    {{ if .TableOfContents }}
    <!-- Get the amount of headers using regex -->
    {{ $headers := findRE "<h[1-6] ?.*?>(.|\n)*?</h[1-6]>" .Content }}
    <!-- We only need to show a table of contents if we have over 4 headers -->
    {{ if ge (len $headers) 4 }}
    <div class="float-lg-end ml-lg-3 mb-3 p-3">
        {{ .TableOfContents }}
    </div>
    {{ end }}
    {{ end }}

    <article>{{ .Content }}</article>

    {{ if or (or .Params.Sources .Params.Changelog) .Params.Footnotes }}
    <hr>
    {{ partial "content-info.html" . }}
    {{ end }}
</div>
{{ end }}
