<!-- 
Note: This partial is expected to be called with special syntax of:
partial "list_item.html" (dict "context" . "dateformat" "Jan 02, 2006")

This allows it to take "dateformat" as a variable, so it can differ between calls.
-->

<a class="item-name" href="{{ .context.RelPermalink }}">
    <span class="item-title">{{ .context.Title }}</span>
    {{ if not .context.Date.IsZero }}
    <span class="item-day">{{ .context.Date.Format .dateformat }}</span>
    {{ end }}
</a>
<small class="item-details">{{ partial "content-details.html" .context }}</small>
<!-- TODO: Only show summary on hover? -->
<p class="item-summary">{{ partial "summary.html" .context }}</p>
